main{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content{
  display: flex;
  justify-content: center;
}

#video{
  display: none;
  transform: rotateY(180deg);
}

.output{
  margin: 20px 0 0;
  min-height: 13px;
  display: block;
}
.output_txt{
  font-size: 13px;
  line-height: 1;
  text-align: center;
}

.controls{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 640px){
  .controls{
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
  }  
}

.btn{
  background: none;
  padding: 5px 20px;
  border: none;
  font-size: 14px;
  color: #444;
  outline: none;
  cursor: pointer;
  transition: 0.2s all ease-out;
}
.btn:hover{
  background: #888;
  color: #fff;
}

.btn:disabled{
  cursor: default;
}
.btn:disabled:hover{
  background: none;
  color: #444;
}
  
#stop{
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;
  border-radius: 16px 0 0 16px;
}

#front{
  border: 1px solid #888;
}

#rear{
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  border-radius: 0 16px 16px 0;
}